$txt: #2F2E2E;
$txtLight: #595959;
$background: #FEFCF5;
$back1: #EDF8F4;
$white: #fff;


$light-orange: #FFF0E9;
$orange: #FF8345;
$light-green: #E9F6EE;
$green: #48B774;
$light-yellow: #FFF6DD;
$yellow: #FFCA45;



$light-back1: #edf8f499;
$lightX2-blue: #77b4b6b3;
$back4: #b4e1d166;