@import './colorsPalette';
.ErrorPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    background-color: #5959590d;
    p{
        margin: 0px !important;
    }
        p.er404{            
            font-size: Clamp(2rem, 9vw, 10rem);
            color: $orange !important;
        }
        p.vrLine{            
            font-size: Clamp(1.5rem, 7vw, 7.5rem);
            color: $yellow !important;
        }
        p.erMsg{            
            font-size: Clamp(1rem, 5vw, 5rem);
            color: $txt !important;
        }
        a.backLink{
            font-size: Clamp(1rem, 4vw, 5rem);
            color: $green !important;
        }
    .errorWrap, .backWrap{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
    }
    .errorWrap{ position: relative;  margin-top: -18vh; }

    .backWrap{
        position: absolute;
        left: 0;
        top: 100%;
        p.er404{ opacity: 0; }
        a.backLink{
            z-index: 9;
            span{
                color: inherit;
                font: inherit;
                line-height: inherit;
                box-sizing: inherit;
                display: block;
            }
        }
    } 
}